{# lib/Resources/views/tools/_icons.html.twig #}

<p>
    <span class="oi oi-arrow-circle-bottom"></span>
    <span class="oi oi-arrow-circle-top"></span>
    <span class="oi oi-arrow-circle-right"></span>
    <span class="oi oi-arrow-circle-left"></span>
</p>
