/*
 * assets/scss/firstbar.scss
 */

 #firstBarId {
    -webkit-transition: margin .25s ease-out;
    -moz-transition: margin .25s ease-out;
    -o-transition: margin .25s ease-out;
    transition: margin .25s ease-out;
    z-index:10;
    width: 15rem;
    background-color: $dark;
}

#side-toggler {
    -webkit-transition: left .25s ease-out;
    -moz-transition: left .25s ease-out;
    -o-transition: left .25s ease-out;
    transition: left .25s ease-out;
    z-index:10;
    position: fixed;
    top: 57px;
}
