/*
 * assets/scss/sidebar.scss
 */

 #sidebar-wrapper {

    -webkit-transition: margin .25s ease-out;
    -moz-transition: margin .25s ease-out;
    -o-transition: margin .25s ease-out;
    transition: margin .25s ease-out;
    z-index:10;

    .sidebar-heading {
        padding: 0.875rem 1.25rem;
        font-size: 1.2rem;
    }
    .list-group {
        width: 15rem;
    }
 }
