/*
 * assets/scss/toggler.scss
 */

@import "large/open";

.toggled {
    @import "large/close";
}

@media (max-width: 768px) {
    @import "small/close";
    .toggled {
        @import "small/open";
    }
}

#firstBarId,
#pageId {
    -webkit-transition: margin .25s ease-out;
    -moz-transition: margin .25s ease-out;
    -o-transition: margin .25s ease-out;
    transition: margin .25s ease-out;
}

#side-toggler {
    -webkit-transition: left .25s ease-out;
    -moz-transition: left .25s ease-out;
    -o-transition: left .25s ease-out;
    transition: left .25s ease-out;
    z-index:10;
    position: fixed;
    top: 55px;
    border-radius: 50%;
    &:focus {
        box-shadow: 0 0 0 0;
    }
}
