/*
 * assets/scss/layout/large.scss
 */
@media (min-width: 768px) {

    #page-content-wrapper {
        min-width: 0;
        width: 100%;
      }
    #sidebar-wrapper {
        margin-left: 0;
    }
    body.toggled {
        #sidebar-wrapper {
            margin-left: -15rem;
            margin-right: 0rem;
        }
    }
}

@media (min-width: 768px) {
    #side-toggle {
        .toggler:before {
            content: '\e00a';
        };
    };
    body.toggled #side-toggle {
        .toggler:before {
            content: '\e00b';
        }
    }
}
