/*
 * assets/scss/layout/small.scss
 */
#page-content-wrapper {
    min-width: 100vw;
}
#sidebar-wrapper {
    margin-left: -15rem;
}
body.toggled {
    #sidebar-wrapper {
        margin-left: 0;
        margin-right: -15rem;
    }
}

#side-toggle {

    .toggler:before {
        content: '\e00b';
    };
}


 body.toggled  {
    #side-toggle {
        .toggler:before {
            content: '\e00a';
        }
    }
}
