{# lib/Resources/views/tool/modal.html.twig #}
{% extends '@MazariniBootstrap/modal/centered.html.twig' %}

{% block title_container %}
    {% include '@MazariniDesign/tool/menu.html.twig' %}
{% endblock %}

{% block content %}
    {% block message %}{% endblock %}
    <hr/>
    <p>Test it with differents height of page and body.</p>
{% endblock %}

{% block footer %}
    {% include '@MazariniDesign/tool/resize.html.twig' %}
{% endblock %}
