{# lib/Resources/views/tool/resize.html.twig #}

<div class="btn-group" role="group">
    <button class="btn btn-secondary mr-1" onclick="changeBody(event,0);" type="button">Default</button>
    <button class="btn btn-secondary mr-1" onclick="changeBody(event,50);" type="button">50%</button>
    <button class="btn btn-secondary mr-1" onclick="changeBody(event,100);" type="button">100%</button>
    <button class="btn btn-secondary" onclick="changeBody(event,150);" type="button">150%</button>
</div>
