{# lib/Resources/views/steps/02-layout/01-body.html.twig #}
{% extends '@MazariniDesign/layout.html.twig' %}

{% block head_title %}
    Body
{% endblock head_title %}

{% block body_container %}
    {% include '@MazariniDesign/empty/body.html.twig' %}
{% endblock body_container %}

{% block design_modal %}
    {% embed '@MazariniDesign/tool/modal.html.twig' %}
        {% block message %}
            <p>This page contains only the body tag.</p>
            <p>Fix background of body, color or image.</p>
        {% endblock message %}
    {% endembed %}
{% endblock design_modal %}

{% block first_bar_container %}{% endblock %}
{% block second_bar_container %}{% endblock %}
{% block header_container %}{% endblock %}
{% block page_container %}{% endblock %}
{% block footer_container %}{% endblock %}
{% block navbar_container %}{% endblock %}
