{# lib/Resources/views/steps/02-layout/01-body.html.twig #}
{% extends '@MazariniDesign/layout.html.twig' %}

{% block title %}
    Layout|Body
{% endblock %}

{% block body %}
    {% include '@MazariniDesign/empty/container.html.twig' %}
{% endblock %}

{% block design_modal %}
    {% embed '@MazariniDesign/tool/modal.html.twig' %}
        {% block message %}
            <p>This page contains only the body tag.</p>
            <p>Fix background of body, color or image.</p>
        {% endblock %}
    {% endembed %}
{% endblock %}

{% block first_bar_container %}{% endblock %}
{% block second_bar_container %}{% endblock %}
{% block header_container %}{% endblock %}
{% block page_container %}{% endblock %}
{% block footer_container %}{% endblock %}
{% block navbar_container %}{% endblock %}
