{# lib/Resources/views/steps/02-layout/02-empty.html.twig #}
{% extends '@MazariniDesign/layout.html.twig' %}

{% block title %}
    Empty
{% endblock %}

{% block first_bar %}
    {% include '@MazariniDesign/empty/firstBar.html.twig' %}
{% endblock first_bar %}
{% block second_bar %}
    {% include '@MazariniDesign/empty/secondBar.html.twig' %}
{% endblock second_bar %}
{% block header %}
    {% include '@MazariniDesign/empty/header.html.twig' %}
{% endblock header %}
{% block page %}
    {% include '@MazariniDesign/empty/page.html.twig' %}
{% endblock page %}
{% block footer %}
    {% include '@MazariniDesign/empty/footer.html.twig' %}
{% endblock footer %}
{% block navbar %}
    {% include '@MazariniDesign/empty/navbar.html.twig' %}
{% endblock navbar %}

{% block design_modal %}
    {% embed '@MazariniDesign/tool/modal.html.twig' %}
        {% block message %}
            <p>This page contains only structure without content.</p>
        {% endblock %}
    {% endembed %}
{% endblock %}
