{# lib/Resources/views/step/01-asset/02-jquery.html.twig #}
{% extends '@MazariniDesign/layout.html.twig' %}

{% block title %}
    jQuery actived
{% endblock %}

{% block design_modal %}

    {% embed '@MazariniDesign/tool/modal.html.twig' %}

        {% block content %}
            <p>Check that the icons are loaded.</p>
            <p>The example use
                <a href="https://fontawesome.com/icons?d=gallery" target="_blank">font-awesome</a>
                If you prefere an other, overide it with "content/icons.html.twig" in "templates/bundles/MazariniDesignBundle".
            </p>
        {% endblock %}

        {% block footer %}
            <p>
                Examples:
                {% include '@MazariniDesign/content/icons.html.twig' %}
            </p>
        {% endblock %}

    {% endembed %}

{% endblock %}

{% block body %}{% endblock %}
