{# lib/Resources/views/step/01-asset/02-jquery.html.twig #}
{% extends '@MazariniDesign/layout.html.twig' %}

{% block title %}
    jQuery actived
{% endblock %}

{% block body %}{% endblock %}

{% block design_modal %}

    {% embed '@MazariniDesign/tool/modal.html.twig' %}

        {% block content %}
            <p>Check that the icons are loaded.</p>
            <p>The example use
                <a href="">open-iconic</a>
            </p>
        {% endblock %}

        {% block footer %}
            <p>
                Examples:
                {% include '@MazariniDesign/content/icons.html.twig' %}
            </p>
        {% endblock %}

    {% endembed %}

{% endblock %}
