{# lib/Resources/views/example/sidebar.html.twig #}

{% block first_bar_container %}
    <div id="firstBarId">
        <button id="side-toggler" class="btn btn-dark">
            <i class="fa"></i>
        </button>
        {% block first_bar %}
            <div class="list-group list-group-flush">
                <a href="#" class="list-group-item list-group-item-action">Dashboard</a>
                <a href="#" class="list-group-item list-group-item-action">Shortcuts</a>
                <a href="#" class="list-group-item list-group-item-action">Overview</a>
                <a href="#" class="list-group-item list-group-item-action">Events</a>
                <a href="#" class="list-group-item list-group-item-action">Profile</a>
                <a href="#" class="list-group-item list-group-item-action">Status</a>
            </div>
        {% endblock %}
    </div>
{% endblock %}
