{# lib/Resources/views/example/footer.html.twig #}

{% block footer_container %}
    <footer id="footerId">
        {% block footer %}
            <p>
                <i class="fa fa-copyright copyleft"></i>
                Copyleft Mazarini 2018-{{ "now"|date("Y") }}
            </p>
        {% endblock %}
    </footer>
{% endblock %}
