{# lib/Resources/views/example/footer.html.twig #}

{% block footer_container %}
    <footer id="footerId">
        {% block footer %}
            <p>footer</p>
        {% endblock %}
    </footer>
{% endblock %}
