{# lib/Resources/views/example/header.html.twig #}

{% block header_container %}
    <header id="headerId">
        {% block header %}
            <p>header</p>
        {% endblock %}
    </header>
{% endblock %}
