{# lib/Resources/views/step/01-asset/01-files.html.twig #}

{% extends '@MazariniDesign/layout.html.twig' %}

{% block head_title %}
    Assets loaded
{% endblock head_title %}


{% block stylesheets %}
    {{ parent() }}
    <style>
        .container {
            width: 500px;
            margin-top: 200px;
        }
    </style>
{% endblock stylesheets %}

{% block body_container %}
    <div class="container">
        {% embed '@MazariniDesign/tool/card.html.twig' %}
            {% block header %}
                {% include '@MazariniDesign/tool/menu.html.twig' %}
            {% endblock header %}
            {% block text %}
                <p>Check that the CSS are well loaded; this frame must be well displayed and the components well displayed.</p>
                <p>Also check that the javascript is loaded.</p>
            {% endblock text %}
            {% block footer_container %}{% endblock footer_container %}
        {% endembed %}
    </div>
{% endblock body_container %}

{% block first_bar_container %}{% endblock first_bar_container %}
{% block second_bar_container %}{% endblock second_bar_container %}
{% block header_container %}{% endblock header_container %}
{% block page_container %}{% endblock page_container %}
{% block footer_container %}{% endblock footer_container %}
{% block navbar_container %}{% endblock navbar_container %}
