{# lib/Resources/views/step/01-asset/02-jquery.html.twig #}

{% extends '@MazariniDesign/layout.html.twig' %}

{% block head_title %}
    jQuery actived
{% endblock head_title %}

{% block design_modal %}

    {% embed '@MazariniDesign/tool/modal.html.twig' %}

        {% block content %}
            <p>Check that the javascript file is loaded and that jQuery is enabled, ie $ is defined.</p>
            <p id="msgId">The "close" button should work and the spacebar allows to display and hide this block.</p>
        {% endblock content %}

        {% block footer_container %}{% endblock footer_container %}

    {% endembed %}

{% endblock design_modal %}

{% block design_javascripts %}
    <script>
        if (typeof $ === 'undefined') {
            var element = document.getElementById('modalId');
            element.classList.add('show');
            element.style.display = 'block';
            var element = document.getElementById('msgId');
            element.textContent = "Actually '$' isn't defined.";
        };
    </script>
    {{ parent() }}
{% endblock design_javascripts %}


{% block body_container %}{% endblock body_container %}
{% block first_bar_container %}{% endblock first_bar_container %}
{% block second_bar_container %}{% endblock second_bar_container %}
{% block header_container %}{% endblock header_container %}
{% block page_container %}{% endblock page_container %}
{% block footer_container %}{% endblock footer_container %}
{% block navbar_container %}{% endblock navbar_container %}
