{# lib/Resources/views/step/01-asset/02-jquery.html.twig #}

{% extends '@MazariniDesign/layout.html.twig' %}

{% block head_title %}
    jQuery actived
{% endblock head_title %}

{% block design_modal %}

    {% embed '@MazariniDesign/tool/modal.html.twig' %}

        {% block content %}
            <p>Check that the icons are loaded.</p>
            <p>The example use
                <a href="https://fontawesome.com/icons?d=gallery" target="_blank">font-awesome</a>
                If you prefere an other, overide it with "content/icons.html.twig" in "templates/bundles/MazariniDesignBundle".
            </p>
        {% endblock content %}

        {% block footer %}
            <p>
                Examples:
                {% include '@MazariniDesign/content/icons.html.twig' %}
            </p>
        {% endblock footer %}

    {% endembed %}

{% endblock design_modal %}

{% block body_container %}{% endblock body_container %}
{% block first_bar_container %}{% endblock first_bar_container %}
{% block second_bar_container %}{% endblock second_bar_container %}
{% block header_container %}{% endblock header_container %}
{% block page_container %}{% endblock page_container %}
{% block footer_container %}{% endblock footer_container %}
{% block navbar_container %}{% endblock navbar_container %}
