{# template/base.html.twig #}
{% set current_path = path(
        app.request.attributes.get('_route'),
        app.request.attributes.get('_route_params')
        )
%}
<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="utf-8"/>
        <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport"/>
        <meta content="{% block head_description %}{% endblock head_description %}" name="description"/>
        <meta content=" {% block head_author %}{% endblock head_author %} " name=" author"/>
        <title>
            {% block head_title %}{% endblock head_title %}
        </title>
        {{ encore_entry_link_tags('app') }}
        {% block stylesheets %}{% endblock stylesheets %}
    </head>

    <!-- current path : "{{ current_path }}" -->

    <body
        class="{% block body_class %}{% endblock %}body_class">
        <!-- Navbar -->
        {% block navbar_container %}{% endblock navbar_container %}
        <!-- /Navbar -->
        {% block body_container %}
            {% block body %}
                <!-- Header -->
                {% block header_container %}{% endblock header_container %}
                <!-- /Header -->
                <div
                    class="wrapper-middle">
                    <!-- Firstbar -->
                    {% block first_bar_container %}{% endblock first_bar_container %}
                    <!-- /Firstbar -->
                    <!-- Content -->
                    {% block page_container %}{% endblock page_container %}
                    <!-- /Content -->
                    <!-- SecondBar -->
                    {% block second_bar_container %}{% endblock second_bar_container %}
                    <!-- /SecondBar -->
                </div>
                <!-- Footer -->
                {% block footer_container %}{% endblock footer_container %}
                <!-- /Footer -->
            {% endblock body %}
        {% endblock body_container %}
        {% block modal %}{% endblock modal %}
        {{ encore_entry_script_tags('app') }}
        {% block javascripts %}{% endblock javascripts %}
    </body>
</html>
