{# template/base.html.twig #}
{% set current_path = path(
        app.request.attributes.get('_route'),
        app.request.attributes.get('_route_params')
        )
%}
<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="utf-8"/>
        <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport"/>
        <meta content="{% block head_description %}{% endblock %}" name="description"/>
        <meta content=" {% block head_author %}{% endblock %} " name=" author"/>
        <title>
            {% block head_title %}{% endblock %}
        </title>
        {{ encore_entry_link_tags('app') }}
        {% block stylesheets %}{% endblock %}
    </head>

    <body
        class="{% block body_class %}{% endblock %}">
        <!-- current path : "{{ current_path }}" -->
        {% block body %}
            {% block fixed %}
                <!-- Navbar -->
                {% block navbar_container %}{% endblock %}
                <!-- /Navbar -->
            {% endblock %}
            <div
                id="wrapper">
                <!-- Sidebar -->
                <div class="bg-dark" id="sidebar-wrapper">
                    {% block sidebar_container %}{% endblock %}
                </div>
                <!-- /Sidebar -->
                <div id="page-content-wrapper">
                    {% block header_container %}{% endblock %}
                    <!-- Content -->
                    {% block page_container %}{% endblock %}
                    <!-- /Content -->
                    <!-- Footer -->
                    {% block footer_container %}{% endblock %}
                    <!-- /Footer -->
                </div>
            </div>
        {% endblock %}
        {% block modal %}{% endblock %}
        {{ encore_entry_script_tags('app') }}
        {% block javascripts %}{% endblock %}
    </body>
</html>
