{# lib/Resources/views/tools/_modal.html.twig #}
{% extends '@MazariniBootstrap/modal/centered.html.twig' %}

{% block title_container %}
    {% include '@MazariniDesign/tools/menu.html.twig' %}
{% endblock %}

{% block body %}
    {% block message %}{% endblock %}
    <hr/>
    <p>Test it with differents height of page and body.</p>
{% endblock %}

{% block footer %}
    <div class="btn-group" role="group">
        <button class="btn btn-secondary mr-1" onclick="changeBody(event,0);" type="button">Default</button>
        <button class="btn btn-secondary mr-1" onclick="changeBody(event,50);" type="button">50%</button>
        <button class="btn btn-secondary mr-1" onclick="changeBody(event,100);" type="button">100%</button>
        <button class="btn btn-secondary" onclick="changeBody(event,150);" type="button">150%</button>
    </div>
{% endblock %}
