{# lib/Resources/views/steps/02-layout/02-empty.html.twig #}

{% extends '@MazariniDesign/tool/empty.html.twig' %}

{% block title %}
    Layout|Empty
{% endblock %}

{% block design_modal %}
    {% embed '@MazariniDesign/tool/modal.html.twig' %}
        {% block message %}
            <p>This page contains only structure without content.</p>
        {% endblock %}
    {% endembed %}
{% endblock %}
