{% extends '@MazariniDesign/tool/empty.html.twig' %}

{% block title %}
    Layout|SideBar
{% endblock %}

{% block second_bar_container %}
    {% include '@MazariniDesign/example/secondBar.html.twig' %}
{% endblock %}

{% block design_modal %}
    {% embed '@MazariniDesign/tool/modal.html.twig' %}
        {% block message %}
            <p>This page contains only structure and content of sidebar.</p>
        {% endblock %}
    {% endembed %}
{% endblock %}
